body {
    background-color: peachpuff;
    

}
h1 {
    font-family: 'Jacques Francois Shadow', cursive;
    font-size: 70px;
    text-align: center;
    color: white;
    
}
p {
    font-family: 'Jacques Francois Shadow', cursive;
    font-size: 25px;
    color: white;
    text-align: center;
    font-family: 'Molengo', sans-serif;


}
img {
   width: 130px; 
   height: 130px;
   padding: 5px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   
}
/* #crystals {
    margin-left: auto;
    margin-right: auto;
} */
